h1{
	margin-left:30px;
	font-family: Courier;
	color: grey;
	float: left;
}

ul.menu{
	list-style-type:none;
	margin:0;
	padding-top:30px;
	padding-bottom:30px;
	padding-right:80px;
	overflow:hidden;
	font-family:Verdana;
	font-style:strong;
	color: grey;

}

li.menuchoice {
	float: right;
	margin-right: 20px;
}

li.selected{
	margin-bottom: 5px;
	border-bottom: 2px solid blue;
	color: blue;
}

img.bg1{
	margin:0;
	width:100%;
	height:500px;
 	}

div.bg2{
	
}

div.content1{
	margin-top:100px;
	margin-left:50px;
	margin-right:50px;
	padding-left:270px;
	padding-right:270px;
	}

img.profile{
	width:300px;
	height:300px;
	border-radius:500px;
	float:right;
}

div.words{
	float:left;
	padding-top:50px;
		}

div div h1{
	font-family: Courier;
	font-size:30px;
	font-weight:bold;
	color:grey;
	margin-bottom: 5px;
	padding-left:30px;
	border-bottom: 2px solid blue;
}

ul.desc{
	list-style-type:none;
	margin-left:70px;
	font-family: Verdana;
	font-size:15px;
	color:grey;
}